<div class="row" id="row_1">

  <div class="col-sm-12" id="header_div">

    <h1 class="header">Battle Cats</h1>

  </div>
</div>

<div class="row">

  <div class="col-sm-3">

    <h3>Cat Stats:</h3>

    <ol>
      <% @cats.each do |cat|%>
      <li><%=cat.name()%> Wins: <%=cat.wins()%> Losses: <%=cat.loss()%></li>
      <%end%>
    </ol>

  </div>

  <div class="col-sm-9">

    <div class="cat_div">
      <%= @kitty1.name%>
      <img class="cat_pic" src="<%=@kitty1.image%>" />

      <form name="choice" action="/game" method="post">
        <input name="_method" type="hidden" value="patch">
        <input name="choice" type="hidden" value="left_cat">
        <input name="winning_id" type="hidden" value="<%=@kitty1.id%>">
        <input name="losing_id" type="hidden" value="<%=@kitty2.id%>">

        <button name="choice" type="submit" class="btn btn-danger">Cat 1</button>
      </form>
    </div>




    <div class="cat_div">
      <%= @kitty2.name%>
      <img class="cat_pic" src="<%=@kitty2.image%>" />

      <form name="choice" action="/game" method="post">
        <input name="_method" type="hidden" value="patch">
        <input name="choice" type="hidden" value="right_cat">
        <input name="winning_id" type="hidden" value="<%=@kitty2.id%>">
        <input name="losing_id" type="hidden" value="<%=@kitty1.id%>">

        <button name="choice" type="submit" class="btn btn-danger">Cat 2</button>
      </form>
    </div>

  </div>

</div>
