<div class="profile-container">


  <div class="row">

    <div class="col-md-4">
  <!-- LOGO -->
      <a href="/profile/<%=@cat.id%>"><img src="https://farm8.staticflickr.com/7694/17952437982_1c7a2cbca3_o.png" /></a>

    </div>

  <!-- NAVIGATION BAR BELOW -->
      <div class="col-md-8 nav-div">



        <div class="nav-button">
  <!-- LIKES PAGE BUTTON -->

          <a href="/profile/<%=@cat.id%>/likes"><img class="nav-bar-element" id="likes-button" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-animals/012572-glossy-black-icon-animals-animal-cat-print.png" />
          </a>

        </div>






          <div class="nav-button">
    <!-- FRIENDS PAGE BUTTON -->


            <div class="modal_container fixed-width">

              <!-- Trigger the modal with a button -->
              <a data-toggle="modal" data-target="#myModal"><img class="nav-bar-element" src="https://farm6.staticflickr.com/5328/17931478756_af38795607_o.png" /></a>

              <!-- Modal content-->
              <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title"><%=@cat.name()%>'s Friends:</h4>
                    </div>
                    <!-- Modal body-->
                    <div class="modal-body">
                      <!-- HERE IS A LIST OF FRIENDS THAT YOU CANT REALLY FRIEND!  -->
                      <% @cats.each() do |cat| %>
                      <a href="/profile/<%=cat.id()%>"><img class="cat-thumbnail friends" src="<%=cat.image%>" /></a><%= cat.name() %>
                      <%end%>
                    </div>
                    <div class="modal-footer">
                      <form action="/cats/<%=@cat.id%>" method="get">
                        <button id="profile" class='btn btn-primary'>Add Friends</button>
                      </form>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





          <div class="nav-button">
    <!-- PHOTO PAGE BUTTON -->

            <a href="/photos/<%=@cat.id()%>"><img class="nav-bar-element" src="https://farm9.staticflickr.com/8810/17769772988_7cce2446ab_o.png" /></a>


          </div>





          <div class="nav-button">
    <!-- ABOUT ME MODAL -->

            <div class="modal_container fixed-width">

              <!-- Trigger the modal with a button -->
              <a data-toggle="modal" data-target="#myModal2"><img class="nav-bar-element" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/rounded-glossy-black-icons-animals/016581-rounded-glossy-black-icon-animals-animal-cat4.png" /></a>
              <!-- Modal -->
              <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">


                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title"><%=@cat.name%></h4>
                    </div>

                    <div class="modal-body">
                      <img class="cat-pic-modal" src="<%= @cat.image%>">


                      <ul class="about-me-list">
                        <li><span class="about-me-brief-headers">Location</span> <%=@cat.location%></li>
                        <li><span class="about-me-brief-headers">Birthday</span> <%=@cat.birthday%></li>
                        <li><span class="about-me-brief-headers">Favorite Nap Area</span> <%=@cat.naparea%></li>
                        <li><span class="about-me-brief-headers">Relationship Status</span> <%=@cat.relationship%></li>
                        <br>
                        <li><%=@cat.bio%></li>
                      </ul>


                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>










  <!-- PIC AREA -->

    <div class="row">

      <div class="col-md-4">


  <!-- PROFILE PICTURE  -->

        <div class="pic-div">
          <img class="profile-cat-pic" src="<%=@cat.image%>" />
        </div>

      </div>




        <div class="col-md-8">
      <!-- BRIEF ABOUT ME SECTION NEXT TO PICTURE -->


            <div class="about-me-brief">

              <ul class="about-me-list">

                <li class="cat-name"> <%=@cat.name%></li>
                <li><span class="about-me-brief-headers">Location</span> <%=@cat.location%></li>
                <li><span class="about-me-brief-headers">Birthday</span> <%=@cat.birthday%></li>
                <li><span class="about-me-brief-headers">Favorite Nap Area</span> <%=@cat.naparea%></li>
                <li><span class="about-me-brief-headers">Relationship Status</span> <%=@cat.relationship%></li>

              </ul>

            </div>

          </div>
    </div>











  <h1 class="photo_form"> Upload Profile Photos </h1>

  <form action="/photos/<%=@cat.id()%>" method="post">
      <input type="text" name="profile_image" id="profile_image" class="form-control" placeholder="Photo URL">
      <br>
      <button type="submit" class="btn btn-default">Upload Profile Pics!</button>
  </form>


<br /><br />



  </div>

  <% if @photos.any?() %>
    <% @photos.each do |photo| %>

      <img class="profile_pic" src="<%= photo.profile_image %>"/>

    <% end %>
  <% else %>
    <p> You haven't uploaded any photos yet! </p>
  <% end %>

<br /><br /><br /><br />
