<div class="profile-container">



<!-- HEADER BELOW -->

  <div class="row">

    <div class="col-md-4">

<!-- KITTY NAME  -->

      <h1 class="profile-header"><%=@cat.name()%></h1>



<!-- PROFILE PICTURE  -->

      <div class="pic-div">
        <img class="profile-cat-pic" src="<%=@cat.image%>" />
      </div>

    </div>




<!-- NAVIGATION BAR BELOW -->
    <div class="col-md-8">

      <div class="col-sm-3">
<!-- ABOUT ME MODAL BUTTON  -->



      </div>

      <div class="col-sm-3">
<!-- FRIENDS PAGE BUTTON -->

        <div class="modal_container">

        <!-- Trigger the modal with a button -->
        <a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Friends</a>

        <!-- Modal content-->
        <div id="myModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%=@cat.name()%>'s Friends:</h4>
              </div>
              <!-- Modal body-->
              <div class="modal-body">
<!-- HERE IS A LIST OF FRIENDS THAT YOU CANT REALLY FRIEND!  -->
                <div class="modal-footer">
                  <form action="/cats/<%=@cat.id%>" method="get">
                    <button id="profile" class='btn btn-primary'>Add Friends</button>
                  </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

      <div class="col-sm-3">
<!-- PHOTO PAGE BUTTON -->



      </div>

      <div class="col-sm-3">
<!-- LIKES PAGE BUTTON -->



      </div>

    </div>

  </div>







<!-- EVERYTHING BELOW PICTURE AND NAVIGATION BAR -->
  <div class="row">

    <div class="col-md-6">
<!-- BRIEF ABOUT ME SECTION BELOW PICTURE -->


      <div class="about-me-brief">

        <ul class="about-me-brief-list">

          <li><span class="about-me-brief-headers">Location</span> <%=@cat.location%></li>
          <li><span class="about-me-brief-headers">Birthday</span> <%=@cat.birthday%></li>
          <li><span class="about-me-brief-headers">Favorite Nap Area</span> <%=@cat.naparea%></li>
          <li><span class="about-me-brief-headers">Relationship Status</span> <%=@cat.relationship%></li>

        </ul>

      </div>










<!-- GAMES SECTION SHOWING WHAT THE KITTY IS PLAYING -->







    </div>






<!-- BLOG BELOW -->
    <div class="col-md-6">
<!-- BLOG INPUT FORM -->


    <div class="blog-form">
      <form action="/profile/<%=@cat.id%>" method="post">
        <div class="form-group">
        <label for="comment"> </label>
        <input text="comment" name="comment" id="comment" class="form-control">
        </div>
        <button type="submit" class="btn btn-info">Submit Comment</button>
      </form>
    </div>





<!-- INDIVIDUAL BLOG POSTS -->
    <ul class="blog-list">
      <% @comments.each() do |comment| %>
      <li><div class="blog-post-div"><%= comment.description() %></div></li>
      <% end %>
    </ul>

    </div>

  </div>

</div>
