<div class="profile-container">

<div class="row">

  <div class="col-md-4">
<!-- LOGO -->
    <a href="/profile/<%=@cat.id%>"><img src="https://farm8.staticflickr.com/7694/17952437982_1c7a2cbca3_o.png" /></a>

  </div>

<!-- NAVIGATION BAR BELOW -->
    <div class="col-md-8 nav-div">



      <div class="nav-button">
<!-- LIKES PAGE BUTTON -->

        <a href="/profile/<%=@cat.id%>/likes"><img class="nav-bar-element" id="likes-button" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-animals/012572-glossy-black-icon-animals-animal-cat-print.png" />
        </a>

      </div>






        <div class="nav-button">
  <!-- FRIENDS PAGE BUTTON -->


          <div class="modal_container fixed-width">

            <!-- Trigger the modal with a button -->
            <a data-toggle="modal" data-target="#myModal"><img class="nav-bar-element" src="https://farm6.staticflickr.com/5328/17931478756_af38795607_o.png" /></a>

            <!-- Modal content-->
            <div id="myModal" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><%=@cat.name()%>'s Friends:</h4>
                  </div>
                  <!-- Modal body-->
                  <div class="modal-body">
                    <!-- HERE IS A LIST OF FRIENDS THAT YOU CANT REALLY FRIEND!  -->
                    <% @cats.each() do |cat| %>
                    <a href="/cat/<%=cat.id()%>"><img class="cat-thumbnail" src="<%=cat.image%>" /></a><%= cat.name() %>
                    <%end%>
                  </div>
                  <div class="modal-footer">
                    <form action="/cats/<%=@cat.id%>" method="get">
                      <button id="profile" class='btn btn-primary'>Add Friends</button>
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





        <div class="nav-button">
  <!-- PHOTO PAGE BUTTON -->

          <a href="/photos/<%=@cat.id()%>"><img class="nav-bar-element" src="https://farm9.staticflickr.com/8810/17769772988_7cce2446ab_o.png" /></a>


        </div>





        <div class="nav-button">
  <!-- ABOUT ME MODAL -->

          <div class="modal_container fixed-width">

            <!-- Trigger the modal with a button -->
            <a data-toggle="modal" data-target="#myModal2"><img class="nav-bar-element" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/rounded-glossy-black-icons-animals/016581-rounded-glossy-black-icon-animals-animal-cat4.png" /></a>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" role="dialog">
              <div class="modal-dialog">


                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><%=@cat.name%></h4>
                  </div>

                  <div class="modal-body">
                    <img class="cat-pic-modal" src="<%= @cat.image%>">


                    <ul class="about-me-list">
                      <li><span class="about-me-brief-headers">Location</span> <%=@cat.location%></li>
                      <li><span class="about-me-brief-headers">Birthday</span> <%=@cat.birthday%></li>
                      <li><span class="about-me-brief-headers">Favorite Nap Area</span> <%=@cat.naparea%></li>
                      <li><span class="about-me-brief-headers">Relationship Status</span> <%=@cat.relationship%></li>
                      <br>
                      <li><%=@cat.bio%></li>
                    </ul>


                  </div>

                  <div class="modal-footer">

                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>










<!-- PIC AREA -->

  <div class="row">

    <div class="col-md-4">


<!-- PROFILE PICTURE  -->

      <div class="pic-div">
        <img class="profile-cat-pic" src="<%=@cat.image%>" />
      </div>

    </div>




      <div class="col-md-8">
    <!-- BRIEF ABOUT ME SECTION NEXT TO PICTURE -->


          <div class="about-me-brief">

            <ul class="about-me-list">

              <li class="cat-name"> <%=@cat.name%></li>
              <li><span class="about-me-brief-headers">Location</span> <%=@cat.location%></li>
              <li><span class="about-me-brief-headers">Birthday</span> <%=@cat.birthday%></li>
              <li><span class="about-me-brief-headers">Favorite Nap Area</span> <%=@cat.naparea%></li>
              <li><span class="about-me-brief-headers">Relationship Status</span> <%=@cat.relationship%></li>

            </ul>

          </div>

        </div>
  </div>












  <div class="row game-blog-row">

<!-- GAMES SECTION SHOWING WHAT THE KITTY IS PLAYING -->
    <div class="col-md-4">

        <div class="about-me-brief">

          <h4 class="game-box-header">Games</h4>

          <ul class="game-list">

            <li><a class="game-link" href="/game"><img class="game-logo" src="http://vignette3.wikia.nocookie.net/streamclan-roleplaying/images/0/06/Vector-cat-silhouette-shape2.jpg/revision/latest?cb=20141221173003" />
              <span class="game-name">Battle Cats</span></a></li>
            <li><a class="game-link" href="/game"><img class="game-logo" src="http://s3.amazonaws.com/kidzworld_photo/images/2013519/6b4640d8-fea0-4e63-b3a3-461ceaa1468d/sahara-gallery.jpg" />
              <span class="game-name">Infinite CATBOX</span></a></li>
            <li><a class="game-link" href="/game"><img class="game-logo" src="https://cf.geekdo-images.com/images/pic1470097.jpg" />
              <span class="game-name">Escape From NY pounds</span></a></li>
            <li><a class="game-link" href="/game"><img class="game-logo" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRLme0vTcSCB2eq6dcoXOCzv5BK8gUB5LKDD7-uyd3rCaAnalzw" />
              <span class="game-name">MOUSEtrap</span></a></li>

          </ul>

        </div>
      </div>







<!-- BLOG BELOW -->
    <div class="col-md-8">
<!-- BLOG INPUT FORM -->


    <div class="blog-form">
      <form action="/profile/<%=@cat.id%>" method="post">
        <div class="form-group">
        <label for="comment"> </label>
        <input text="comment" name="comment" id="comment" class="form-control" placeholder="Yo <%= @cat.name %>, what up?!">
        <label for="comment_img"> </label>
        <input text="comment_img" name="comment_img" id="comment_img" class="form-control" placeholder="image url:">
        </div>
        <button type="submit" class="btn btn-info">Submit Comment</button>
      </form>
    </div>





<!-- INDIVIDUAL BLOG POSTS -->
    <ul class="blog-list">
      <% @comments.each() do |comment| %>
      <li><div class="blog-post-div"><%= comment.description() %><img class="profile_pic" src="<%= comment.comment_photo() %>"/></div></li>

      <% end %>
    </ul>

    </div>

  </div>

</div>
