<div>
  <img class="catbook-logo" id="layout-logo" src="http://www.bestfriendsstudios.com/images/Product/icon/1461.jpg" />
  <span class="index-header" id="layout-header">CatBox</span>
  <img class="catbook-logo" id="layout-logo" src="http://www.bestfriendsstudios.com/images/Product/icon/1457.jpg" />

</div>


<div class="profile-container">

<!-- HEADER BELOW -->

  <div class="row">

    <div class="col-md-4">

<!-- KITTY NAME  -->

      <h1 class="profile-header"><%=@cat.name()%></h1>



<!-- PROFILE PICTURE  -->

      <div class="pic-div">
        <img class="profile-cat-pic" src="<%=@cat.image%>" />
      </div>

    </div>




<!-- NAVIGATION BAR BELOW -->
    <div class="col-md-8">

        <div class="col-sm-3 nav-button">
  <!-- ABOUT ME MODAL -->

          <div class="modal_container">

            <!-- Trigger the modal with a button -->
            <a data-toggle="modal" data-target="#myModal2"><img class="nav-bar-element" src="/img/about.png" /></a>
            <!-- Modal -->
            <div class="modal fade" id="myModal2" role="dialog">
              <div class="modal-dialog">


                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><%=@cat.name%></h4>
                  </div>

                  <div class="modal-body">
                    <img class="cat-pic-modal" src="<%= @cat.image%>">


                    <ul class="about-me-list">
                      <li><span class="about-me-brief-headers">Location</span> <%=@cat.location%></li>
                      <li><span class="about-me-brief-headers">Birthday</span> <%=@cat.birthday%></li>
                      <li><span class="about-me-brief-headers">Favorite Nap Area</span> <%=@cat.naparea%></li>
                      <li><span class="about-me-brief-headers">Relationship Status</span> <%=@cat.relationship%></li>
                      <br>
                      <li><%=@cat.bio%></li>
                    </ul>


                  </div>

                  <div class="modal-footer">

                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





        <div class="col-sm-3 nav-button">
  <!-- FRIENDS PAGE BUTTON -->


          <div class="modal_container">

            <!-- Trigger the modal with a button -->
            <a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Friends</a>

            <!-- Modal content-->
            <div id="myModal" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><%=@cat.name()%>'s Friends:</h4>
                  </div>
                  <!-- Modal body-->
                  <div class="modal-body">
                    <!-- HERE IS A LIST OF FRIENDS THAT YOU CANT REALLY FRIEND!  -->
                    <% @cats.each() do |cat| %>
                    <a href="/cat/<%=cat.id()%>"><img class="cat-thumbnail" src="<%=cat.image%>" /></a><%= cat.name() %>
                    <%end%>
                  </div>
                  <div class="modal-footer">
                    <form action="/cats/<%=@cat.id%>" method="get">
                      <button id="profile" class='btn btn-primary'>Add Friends</button>
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 nav-button">
  <!-- PHOTO PAGE BUTTON -->

  <form action="/photos/<%=@cat.id()%>" method="get">
  <button type="submit" class="btn btn-default">Photos</button>
  </form>
        </div>

        <div class="col-sm-3 nav-button">
  <!-- LIKES PAGE BUTTON -->

          <a href="/profile/<%=@cat.id%>/likes"><img class="nav-bar-element" id="likes-button" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-animals/012572-glossy-black-icon-animals-animal-cat-print.png" />
          </a>

        </div>

    </div>
  </div>







<!-- EVERYTHING BELOW PICTURE AND NAVIGATION BAR -->
  <div class="row">

    <div class="col-md-6">
<!-- BRIEF ABOUT ME SECTION BELOW PICTURE -->


      <div class="about-me-brief">

        <ul class="about-me-list">

          <li><span class="about-me-brief-headers">Location</span> <%=@cat.location%></li>
          <li><span class="about-me-brief-headers">Birthday</span> <%=@cat.birthday%></li>
          <li><span class="about-me-brief-headers">Favorite Nap Area</span> <%=@cat.naparea%></li>
          <li><span class="about-me-brief-headers">Relationship Status</span> <%=@cat.relationship%></li>

        </ul>

      </div>





<!-- GAMES SECTION SHOWING WHAT THE KITTY IS PLAYING -->


        <div class="about-me-brief">

          <h4 class="game-box-header">Games</h4>

          <ul class="game-list">

            <li><a class="game-link" href="/game"><img class="game-logo" src="http://vignette3.wikia.nocookie.net/streamclan-roleplaying/images/0/06/Vector-cat-silhouette-shape2.jpg/revision/latest?cb=20141221173003" />
              <span class="game-name">Battle Cats</span></a></li>
            <li><a class="game-link" href="/game"><img class="game-logo" src="http://s3.amazonaws.com/kidzworld_photo/images/2013519/6b4640d8-fea0-4e63-b3a3-461ceaa1468d/sahara-gallery.jpg" />
              <span class="game-name">Infinite CATBOX</span></a></li>
            <li><a class="game-link" href="/game"><img class="game-logo" src="https://cf.geekdo-images.com/images/pic1470097.jpg" />
              <span class="game-name">Escape From NY pounds</span></a></li>
            <li><a class="game-link" href="/game"><img class="game-logo" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRLme0vTcSCB2eq6dcoXOCzv5BK8gUB5LKDD7-uyd3rCaAnalzw" />
              <span class="game-name">MOUSEtrap</span></a></li>

          </ul>

        </div>





    </div>






<!-- BLOG BELOW -->
    <div class="col-md-6">
<!-- BLOG INPUT FORM -->


    <div class="blog-form">
      <form action="/profile/<%=@cat.id%>" method="post">
        <div class="form-group">
        <label for="comment"> </label>
        <input text="comment" name="comment" id="comment" class="form-control" placeholder="Yo <%= @cat.name %>, what up?!">
        <label for="comment_img"> </label>
        <input text="comment_img" name="comment_img" id="comment_img" class="form-control" placeholder="image url:">
        </div>
        <button type="submit" class="btn btn-info">Submit Comment</button>
      </form>
    </div>





<!-- INDIVIDUAL BLOG POSTS -->
    <ul class="blog-list">
      <% @comments.each() do |comment| %>
      <li><div class="blog-post-div"><%= comment.description() %><img class="profile_pic" src="<%= comment.comment_photo() %>"/></div></li>

      <% end %>
    </ul>

    </div>

  </div>

</div>
